{% extends 'base.html' %}

{% block TITLE %}ADMIN DEPARTMENT{% endblock %}

{% block body %}



    <div class="container">
    <br>
    <h3 class="text-center">Update Department</h3>
        <hr>

    <form method="post" action="{{ url_for('update_department', old_id=old_id) }}">
         <div class="form-group row" style="display: none">
            <label for="old_crn" class="col-sm-2 col-form-label">Old Department ID:</label>
            <div class="col-sm-4">
               <input type="text" name="old_id" id="old_id" class="form-control" value="{{ old_id }}" required>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="dept" class="col-sm-2 col-form-label">Department Name:</label>
            <div class="col-sm-4">
               <input type="text" name="dept" id="dept" class="form-control" value="{{ dept_name }}" required>
            </div>

            <label for="dean" class="col-sm-2 col-form-label">Dean:</label>
            <div class="col-sm-4">
                    <select class="form-control" name="dean" id="dean" required>
                         {% for person in people %}
                             {% if person[0] in department[2] %}
                             {% else %}
                                <option value="{{ persons[0] }}">{{ person[1] }} - {{ person[0] }}</option>
                             {% endif %}
                         {% endfor %}
                    </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="delege" class="col-sm-2 col-form-label">Student Delegate:</label>
            <div class="col-sm-4">
               <input type="text" name="delege" id="delege" class="form-control" value="{{ stu_del }}">

            </div>


        <button type="submit" class="btn btn-primary">Update Faculty</button>
        </div>
    </form>

{% endblock %}
