{% extends 'base.html' %}

{% block TITLE %}ADMIN LOCATION{% endblock %}

{% block body %}



    <div class="container">
    <br>
    <h3 class="text-center">ADD LOCATION</h3>
        <hr>

    <form method="post" action="{{ url_for('add_location') }}">
        <div class="form-group row">
            <label for="building" class="col-sm-2 col-form-label">Building:</label>
            <div class="col-sm-4">
               <input type="text" name="building" id="building" class="form-control" placeholder="EEB" required>
            </div>


            <label for="day_sel" class="col-sm-2 col-form-label">Day:</label>
            <div class="col-sm-4">
                <select class="form-control" name="day_sel" id="day_sel" required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="classroom" class="col-sm-2 col-form-label">Classroom:</label>
            <div class="col-sm-4">
               <input type="number" name="classroom" id="classroom" class="form-control" placeholder="5302" required>

            </div>


            <label for="capacity" class="col-sm-2 col-form-label">Capacity:</label>
            <div class="col-sm-4">
               <input type="number" name="capacity" id="capacity" class="form-control" placeholder="80" required>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Location</button>
    </form>




        <table class="table table-hover table-inverse">
        <thead class="thead-inverse">
        <tr>
            <th>Building</th>
            <th>Day</th>
            <th>Classroom</th>
            <th>Capacity</th>
        </tr>
        </thead>
        <tbody>
        
        {% for location in locations %}
        <tr>
            <td scope="row">{{ location[1] }}</td>
            <td>{{ location[2] }}</td>
            <td>{{ location[3] }}</td>
            <td>{{ location[4] }}</td>
            <td><a name="update_location" id="update_location" class="btn btn-success" href="{{ url_for('update_location', old_id=location[0]) }}" role="button">Update</a>
                <a name="del_location" id="del_location" class="btn btn-danger" href="{{ url_for('del_location', loc_id=location[0]) }}" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>







{% endblock %}
