{% extends 'base.html' %}

{% block TITLE %}ADMIN MEAL{% endblock %}

{% block body %}



    <div class="container">
    <br>
    <h3 class="text-center">ADD MEAL</h3>
        <hr>

    <form method="post" action="{{ url_for('add_meal') }}">
        <div class="form-group row">



            <label for="day_sel" class="col-sm-2 col-form-label">Day:</label>
            <div class="col-sm-4">
                <select class="form-control" name="day_sel" id="day_sel" required>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>

            <label for="building" class="col-sm-2 col-form-label">Repast:</label>
            <div class="col-sm-4">
                <select class="form-control" name="repast" id="repast" required>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="soup" class="col-sm-2 col-form-label">Soup:</label>
            <div class="col-sm-4">
                <select class="form-control" name="soup" id="soup" required>
                     {% for meal in meals %}
                         {% if meal[2] == 'soup' %}
                         {% else %}
                            <option value="{{ meal[2] }}">{{ meal[2] }}</option>
                         {% endif %}
                     {% endfor %}
                </select>
               <input type="text" name="soup" id="soup" class="form-control" placeholder="Mahluta" required>
            </div>

            <label for="soup" class="col-sm-2 col-form-label">Main:</label>

            <div class="col-sm-4">
                <select class="form-control" name="main" id="main" required>
                     {% for meal in meals %}
                         {% if meal[3] == 'main' %}
                         {% else %}
                            <option value="{{ meal[3] }}">{{ meal[3] }}</option>
                         {% endif %}
                     {% endfor %}
                </select>
               <input type="text" name="main" id="main" class="form-control" placeholder="kirpi eti" required>
            </div>

            <label for="soup" class="col-sm-2 col-form-label">Side:</label>

            <div class="col-sm-4">

                <select class="form-control" name="side" id="side" required>
                     {% for meal in meals %}
                         {% if meal[4] == 'side' %}
                         {% else %}
                            <option value="{{ meal[4] }}">{{ meal[4] }}</option>
                         {% endif %}
                     {% endfor %}
                </select>
               <input type="text" name="side" id="side" class="form-control" placeholder="kürt böreki" required>
            </div>

            <label for="soup" class="col-sm-2 col-form-label">Extras:</label>

            <div class="col-sm-4">

                <select class="form-control" name="extras" id="extras" required>
                     {% for meal in meals %}
                         {% if meal[5] == 'extras' %}
                         {% else %}
                            <option value="{{ meal[5] }}">{{ meal[5] }}</option>
                         {% endif %}
                     {% endfor %}
                </select>
               <input type="text" name="extras" id="extras" class="form-control" placeholder="süt_askisi" required>

            </div>



        </div>
        <button type="submit" class="btn btn-primary">Add Menu</button>
    </form>




        <table class="table table-hover table-inverse">
        <thead class="thead-inverse">
        <tr>
            <th>Day</th>
            <th>Repast</th>
            <th>Soup</th>
            <th>Main</th>
            <th>Side</th>
            <th>Extras</th>

        </tr>
        </thead>
        <tbody>
        
        {% for meal in meals %}
        <tr>
            <td scope="row">{{ meal[0] }}</td>
            <td>{{ meal[1] }}</td>
            <td>{{ meal[2] }}</td>
            <td>{{ meal[3] }}</td>
            <td>{{ meal[4] }}</td>
            <td>{{ meal[5] }}</td>
            <td><a name="update_location" id="update_location" class="btn btn-success" href="#" role="button">Update</a>
                <a name="del_location" id="del_location" class="btn btn-danger" href="{{ url_for('del_menu', loc_id=location[0]) }}" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>







{% endblock %}
